<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/purduecivs/Documents/AR Unity/AR_Wind_Unity 2/Build3/Unity-iPhone.xcodeproj</string>
</dict>
</plist>
